<%- include("partials/header", { title: "Home | Mini Message Board", styles: ["message"] }) %>

<h1>Mini Message Board</h1>
<main>
  <div class="message-list">
    <% messages.forEach(message => { %>
      <div class="message-card">
        <div class="message-header">
          <div class="message-author"><%= message.author %></div>
          <div class="message-timestamp"><%= formatTimestamp(message.created_at) %></div>
        </div>
        <div class="message-body">
          <div class="message-text"><%= message.content %></div>
          <a href="/messages/<%= message.id %>" class="link">Open</a>
        </div>
      </div>
    <% }) %>
    <a href="/new" class="link text-center">Send a message</a>
  </div>
</main>

<%- include("partials/footer") %>
